.modal__title {
  max-width: 315px;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  margin-bottom: 22px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form_hidden {
  display: none;
}

.modal__fieldset {
  display: flex;
  flex-direction: column;
  gap: 31px;
  border: none;
  padding: 0;
  margin: 0;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.5px;
}

.modal__form_btn-submit {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  text-align: center;
  width: 358px;
  height: 64px;
  /* width: 100%; */
  /* padding: 20px 115px; */
  background-color: #2f71e5;
  border: none;
  border-radius: 100px;
  margin-top: 39px;
  margin-bottom: 16px;
  cursor: pointer;
}

.modal__form_btn-submit:disabled {
  background-color: #e6e8eb;
  cursor: default;
}

.modal__form_navi {
  align-self: center;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.modal__form_navi-text {
  color: #2f71e5;
  cursor: pointer;
}

.modal__redirect {
  margin: 0;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #2f71e5;
  cursor: pointer;
}

.form__element {
  display: flex;
  flex-direction: column;
  gap: 9px;
  border: none;
}

.form__element_label {
  color: #2f71e5;
}

.form__element_input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;

  line-height: 17px;
}

.form__element_error-msg {
  min-height: 15px;
  max-width: 358px;
  color: red;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 450px) {
  .modal__form_btn-submit {
    width: 288px;
  }
}
