.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 56px;
  padding-top: 160px;
  padding-bottom: 80px;
  margin-top: -80px;
}

.about__avatar {
  max-width: 32vw;
  min-width: 232px;
  height: auto;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.about__description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 600px;
}

.about__description_title {
  margin: 0;
  font-family: "Roboto Slab";
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
}

.about__description_content {
  margin: 0;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .about {
    padding-top: 120px;
  }

  .about__description_title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 550px) {
  .about {
    padding-top: 112px;
    flex-direction: column;
    gap: 24px;
  }
}
