.navigation {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
}

.navigation__btn-home {
  margin: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

.navigation__btn-home_highlight {
  margin: -22px;
  padding: 22px;
  border-bottom: 3px solid #fff;
}

.navigation__btn_hidden {
  display: none;
}

.navigation__btn-profile {
  display: flex;
  margin: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

.navigation__btn-profile_highlight {
  margin: -22px;
  padding: 22px;
  border-bottom: 3px solid #1a1b22;
  width: 160px;
}

.navigation__btn-loggin {
  width: 176px;
  padding: 12px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 100px;
  color: inherit;
  cursor: pointer;
}

.navigation__btn-logout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 112px;
  padding: 12px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 100px;
  color: inherit;
  cursor: pointer;
}

.navigation__btn_saved-news {
  border-color: black;
}

.icon-logout {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 700px) {
  .navigation {
    gap: 10px;
  }
  .navgation__container {
    gap: 10px;
  }
}

@media screen and (max-width: 550px) {
  .navigation {
    display: none;
  }

  .navigation__menu {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: flex-start;
  }

  .navigation__btn-home {
    padding: 0;
  }
  .navigation__btn-home_highlight {
    border-bottom: none;
    margin: 0;
    padding: 0;
  }

  .navigation__btn-profile_highlight {
    border-bottom: none;
    margin: 0;
    padding: 0;
  }

  .navigation__btn-profile {
    padding: 0;
  }

  .navigation__btn-loggin {
    width: 100%;
  }

  .navigation__btn-logout {
    width: 100%;
    justify-content: center;
  }
}
