.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s linear;
  z-index: 999;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  padding: 34px 36px 28px;
  max-width: 430px;
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  font-family: Roboto;
}

.modal__btn-close {
  background: url("../../assets/btn-close.svg") transparent;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -23px;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .modal {
    overflow: hidden;
  }
  .modal__container {
    max-width: 100%;
    width: auto;
    /* padding: 16px; */
  }

  .modal__btn-close {
    top: -40px;
    right: -8px;
  }
}

@media screen and (max-width: 370px) {
  .modal__container {
    margin-bottom: 0;
    width: 100%;
    height: 560px;
    border-radius: 16px 16px 0 0;
  }
}
