.form__element {
  display: flex;
  flex-direction: column;
  gap: 9px;
  border: none;
}

.form__element_label {
  color: #2f71e5;
}

.form__element_input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;

  line-height: 17px;
}
