.header {
  padding: 19px 0 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid rgba(196, 196, 196, 0.01);
}

.header__logo {
  margin: 0;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
