.card__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  margin: auto;
  justify-content: center;
}

@media screen and (max-width: 680px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 430px) {
  .card__container {
    grid-template-columns: repeat(1, 288px);
  }
}
