.cardItem {
  padding-bottom: 24px;
  list-style-type: none;
  max-width: 400px;
  /* aspect-ratio: 1/1.44; */
  aspect-ratio: calc(1 / 0.68 + 300px);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  cursor: pointer;
}

.cardItem__img {
  width: 100%;
  aspect-ratio: 1/0.68;
}

.cardItem__label {
  padding: 8px 22px;
  position: absolute;
  /* top: 24px;
  left: 24px; */
  top: 1.67vw;
  left: 1.67vw;
  height: 24px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.cardItem__label_hidden {
  display: none;
}

.cardItem__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  /* top: 24px;
  right: 24px; */
  top: 1.67vw;
  right: 1.67vw;
  border: none;
  cursor: pointer;
}

.cardItem__btn-save {
  background: url("../../assets/save-btn-normal.svg");
}

.cardItem__btn-save:hover {
  background: url("../../assets/save-btn-hover.svg");
}

.cardItem__btn-delete {
  background: url("../../assets/delete-btn-normal.svg");
}

.cardItem__btn-delete:hover {
  background: url("../../assets/delete-btn-hover.svg");
}

.cardItem__content {
  padding: 20px 24px 0 24px;
}

.cardItem__content_date {
  margin: 0 0 12px 0;
  font-family: Roboto;
  font-size: 1.25vw;
  /* font-size: 18px; */
  font-weight: 400;
  line-height: 1.67vw;
  /* line-height: 24px; */
  text-align: left;
  color: #b6bcbf;
}

.cardItem__content_headline {
  margin: 0 0 16px 0;
  font-family: "Roboto Slab";
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  color: #1a1b22;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cardItem__content_brief {
  margin: 0 0 18px 0;
  height: 88px;
  font-family: Roboto;
  /* font-size: 1.1vw; */
  font-size: 16px;
  font-weight: 400;
  /* line-height: 1.5vw; */
  line-height: 22px;
  text-align: left;
  color: #1a1b22;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;
  /* word-break: break-word; */
}

.cardItem__content_src {
  margin: 0;
  font-family: Roboto Slab;
  font-size: 1.1vw;
  /* font-size: 16px; */
  font-weight: 700;
  line-height: 1.4vw;
  /* line-height: 20px; */
  letter-spacing: 0.4px;
  text-align: left;
  color: #b6bcbf;
}

@media screen and (max-width: 770px) {
  .cardItem {
    aspect-ratio: calc(1 / 0.68 + 270px);
    padding-bottom: 18px;
  }

  .cardItem__content {
    padding: 16px 16px 0 16px;
  }

  .cardItem__content_headline {
    margin-bottom: 12px;
    font-size: 22px;
    line-height: 24px;
  }

  .cardItem__content_brief {
    margin-bottom: 12px;
  }
}
